body {
	background-color: #E63462;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 1.2rem;
	color: #333745;
}

h1 {
	color: #333745;
	margin: auto;
}

#bing-bong-plush {
	width: 50%;
	margin: auto;
}

.unofficial-title {
	font-size: 1.5rem;
	font-weight: normal;
}

.vertical {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.centered-text {
	text-align: center;
}

.score-screen-image {
	width: 100%;
}

.image-row-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.single-image-container {
	display: flex;
	flex-direction: column;
	width: 25%;
	text-align: center;
}

.empty-container {
	width: 10px;
}

section {
	width: 100%;
}

.title-img {
	max-width: 300px;
	margin: auto;
}

.container {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	background-color: #EEF5DB;
	max-width: 1000px;
	margin: auto;
	padding: 32px 16px 32px 16px;
}

.no-text, .yes-text {
	font-weight: bold;
}

.yes-text {
	color: #468a0e;
}

.no-text {
	color: #8c111f;
}