body {
	background-color: #E63462;
	font-family: "Comic Sans MS", sans-serif;
	color: #333745;
}

h1 {
	color: #333745;
	margin: auto;
}

.unofficial-title {
	font-size: 1.5rem;
	font-weight: normal;
}

.vertical {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.centered-text {
	text-align: center;
}

section {
	width: 100%;
	justify-content: center;
}

.title-img {
	max-width: 300px;
	margin: auto;
}

.container {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	background-color: #EEF5DB;
	max-width: 800px;
	margin: auto;
	padding: 32px 16px 32px 16px;
}